<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.1</string>
    <key>DTSDKName</key>
    <string>iphoneos9.1</string>
    <key>CFBundleName</key>
    <string>RCMobileMusic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>咪咕音乐</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>weixin</string>
      <string>wechat</string>
      <string>sinaweibo</string>
      <string>sinaweibohd</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqwpa</string>
      <string>mqqopensdkapiV2</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqapi</string>
      <string>mqqbrowser</string>
      <string>mqzone</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>audio</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13B137</string>
    <key>CFBundleShortVersionString</key>
    <string>4.2430</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15B42</string>
    <key>DTPlatformBuild</key>
    <string>13B137</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>7B91b</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>UIAppFonts</key>
    <array>
      <string>SourceHanSansCN-ExtraLight.otf</string>
      <string>SourceHanSansCN-Light.otf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>4.2.4.3</string>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>MinimumOSVersion</key>
    <string>6.1</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.migu.migumobilemusic</string>
    <key>DTXcode</key>
    <string>0710</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>RCMobileMusic</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.migumusic.outside</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>migumusic</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.sinaweibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb3253877454</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.qqconnect</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1101053067</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.tcweibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb801360832</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.wechat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx85e936963626b26b</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.migumusic.outside</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>migumusicios</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.migumusic.today</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>migumusictoday</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
